.sidebar {
    height: 100vh;
    width: 18%;
    /* background-color: #F0F2F5; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-container {
    display: flex;
    background-color: #F0F2F5;
}

.sidebar-container {
    width: 15%;
    height: 95%;
    background: linear-gradient(195deg, #42424a, #191919);
    border-radius: 10px;
    box-shadow: 1.25rem 1.25rem 1.6875rem 1.25rem rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    position: fixed;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 20px;
}

.title-container {
    width: 100%;
    height: 10%;
    /* background-color: red; */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu-link-dashboard-active {
    width: 85%;
    height: 6%;
    background: linear-gradient(195deg, #49a3f1, #1A73E8);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1px;

    a {
        margin: 0;
    }
}

.menu-link-dashboard-inactive {
    width: 85%;
    height: 6%;
    color: white;
    border-radius: 10px;
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1px;
}

.menu-link-dashboard-inactive:hover {
    background-color: #616166;
    cursor: pointer;
}

.icon-container {
    width: 90%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.add-product-dialogue {
    width: 100%;
    height: 100vh;
    background-color: rgba(163, 155, 155, 0.8);
    position: fixed;
    z-index: 1101;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.dialogue-container {
    width: 70%;
    height: 90%;
    background-color: white;
    box-shadow: 1.25rem 0 1.6875rem 1.25rem rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.close-bt {
    width: 99%;
    height: 40px;
    display: flex;
    justify-content: end;
}